In [24]:
# !! pip3 install openpyxl
import pandas as pd

In [ ]:
quiz = pd.read_csv('../csv/input_quiz_11072025.csv')
content = pd.read_csv('../csv/new_content.csv')
content = content[['content_name', 'content_code']]
content = content[~content['content_code'].str.contains('_V')]
content.rename(columns={'content_name': 'quiz_name', 'content_code': 'code'}, inplace=True)

In [26]:
quiz = quiz.drop(columns=['COURSE_CODE', 'COURSE_TITLE', 'MODULES_TITLE', 'MODULE_CODE', 'url video']).dropna(how='all')

In [27]:
# quiz = quiz[['Quiz_code', 'Code_Question ', 'Quiz', 'option 1',
#        'answer', 'option 2', 'answer.1', 'option 4', 'answer.2', 'option5',
#        'answer.3', 'option6', 'answer.4', 'option7', 'answer.5', 'option8',
#        'answer.6', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
#        'Unnamed: 26', 'Unnamed: 27']]
quiz = quiz[['Quiz_code', 'Code_Question ', 'Quiz', 'option 1',
       'answer', 'option 2', 'answer.1', 'option 4', 'answer.2', 'option5',
       'answer.3', 'option6', 'answer.4', 'option7', 'answer.5', 'option8',
       'answer.6']]
# .drop(columns=['Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25','Unnamed: 26','Unnamed: 27'])
quiz.dropna(inplace=True,how='all')
quiz = quiz.dropna(subset=['Code_Question '])

In [28]:
quiz.dropna(subset=['Quiz'], inplace=True)
quiz.shape

(225, 17)

In [29]:
questions = quiz[['Code_Question ', 'Quiz', 'option 1', 'answer', 'option 2',
       'answer.1', 'option 4', 'answer.2', 'option5', 'answer.3', 'option6',
       'answer.4', 'option7', 'answer.5', 'option8', 'answer.6']]

questions = questions.rename(columns={
    "Code_Question ":"code",
    "Quiz":"question_text",
    "option 1":"option_1",
    "answer":"option_1_is_correct",
    "option 2":"option_2",
    "answer.1":"option_2_is_correct",
    "option 4":"option_3",
    "answer.2":"option_3_is_correct",
    'option5':'option_4',
    'answer.3':'option_4_is_correct',
    'option6':'option_5',
    'answer.4':'option_5_is_correct',
    'option7':'option_6',
    'answer.5':'option_6_is_correct',
    'option8':'option_7',
    'answer.6':'option_7_is_correct'
})
# questions.dropna(inplace=True,how='all')
questions['score'] = 1
questions['language'] = 'Arabic'

In [30]:
questions = questions.dropna(subset=['question_text'])

In [31]:
questions.columns

Index(['code', 'question_text', 'option_1', 'option_1_is_correct', 'option_2',
       'option_2_is_correct', 'option_3', 'option_3_is_correct', 'option_4',
       'option_4_is_correct', 'option_5', 'option_5_is_correct', 'option_6',
       'option_6_is_correct', 'option_7', 'option_7_is_correct', 'score',
       'language'],
      dtype='object')

In [32]:
cols = ['option_1_is_correct', 'option_2_is_correct', 'option_3_is_correct', 'option_4_is_correct','option_5_is_correct','option_6_is_correct','option_7_is_correct']
# for col in cols:
#     questions[col] = questions[col].replace({'VRAI': 'true', 'FAUX': 'false'}).str.lower()

In [33]:
questions.to_csv('../csv/output_questions_11072025.csv', index=False)
#questions.to_excel('../csv/latest_new_sanketika_questions.xlsx', index=False)

In [34]:
quiz = quiz[['Quiz_code', 'Code_Question ']]
quiz = quiz.rename(columns=
                   {
        "Quiz_code":"code",
        "Code_Question ":"questions"
    }
).dropna(how='all').fillna(method='ffill')

/var/folders/n5/jcsnh81949zbk42qlkl4drv0mp5l6p/T/ipykernel_1797/2261049740.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  quiz = quiz.rename(columns=

In [35]:
quiz

               code           questions
0    FMPS_C029_QV01  FMPS_C029_QV01_Q_1
1    FMPS_C029_QV01  FMPS_C029_QV01_Q_2
2    FMPS_C029_QV01  FMPS_C029_QV01_Q_3
3    FMPS_C029_QV01  FMPS_C029_QV01_Q_4
4    FMPS_C029_QV01  FMPS_C029_QV01_Q_5
..              ...                 ...
220  FMPS_C032_QV04  FMPS_C032_QV04_Q07
221  FMPS_C032_QV04  FMPS_C032_QV04_Q08
222  FMPS_C032_QV04  FMPS_C032_QV04_Q09
223  FMPS_C032_QV04  FMPS_C032_QV04_Q10
224  FMPS_C032_QV04  FMPS_C032_QV04_Q11

[225 rows x 2 columns]

In [36]:
quiz['code'] = quiz['code'].astype(str)
content['code'] = content['code'].astype(str)

In [37]:
x = quiz.to_dict(orient='index')
out = {}
count = {}
a = 0

In [38]:
quiz

               code           questions
0    FMPS_C029_QV01  FMPS_C029_QV01_Q_1
1    FMPS_C029_QV01  FMPS_C029_QV01_Q_2
2    FMPS_C029_QV01  FMPS_C029_QV01_Q_3
3    FMPS_C029_QV01  FMPS_C029_QV01_Q_4
4    FMPS_C029_QV01  FMPS_C029_QV01_Q_5
..              ...                 ...
220  FMPS_C032_QV04  FMPS_C032_QV04_Q07
221  FMPS_C032_QV04  FMPS_C032_QV04_Q08
222  FMPS_C032_QV04  FMPS_C032_QV04_Q09
223  FMPS_C032_QV04  FMPS_C032_QV04_Q10
224  FMPS_C032_QV04  FMPS_C032_QV04_Q11

[225 rows x 2 columns]

In [39]:
for i in x:
    a+=1
    if out.get(x[i]['code']) == None:
        out[x[i]['code']]  = [x[i]['questions']]
        count[x[i]['code']] = 1
    else:
        out[x[i]['code']].append(x[i]['questions'])
        count[x[i]['code']] += 1

for i in out:
    out[i] = ','.join(out[i])

In [40]:
quiz = pd.DataFrame.from_dict(out, orient='index').reset_index()
quiz.columns = ['code', 'questions']
quiz = quiz.merge(content, on='code', how='left')
quiz['max_attempts'] = 2
quiz['language'] = 'Arabic'
quiz['quiz_type'] = 'practice'

In [41]:
quiz['quiz_name'] = quiz.apply(lambda row: row['code'] if pd.isna(row['quiz_name']) else row['quiz_name'], axis=1)

In [42]:
quiz.drop_duplicates(subset=['code'], inplace=True)
quiz.to_csv('../csv/output_quiz_11072025.csv', index=False)
#quiz.to_excel('../csv/latest_new_sanketika_quiz.xlsx', index=False)